*
{
  padding: 0;
  margin: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 16px;
}

img
{
  max-width: 100%;
  height: auto;
}

a
{
  color: #007bff;
  text-decoration: none;
}

html, body, #root
{
  width: 100%;
  margin: 0;
  padding: 0;
}

#root
{
  width: 720px;
  max-width: calc(100% - 24px);
  margin: 8px auto;
}

img
{
  max-width: 100%;
}

.footer
{
  width: 720px;
  max-width: calc(100% - 24px);
  text-align: center;
  margin: 24px auto;
  border-top: 1px solid #cccccc;
  padding: 8px;
}

.footer a
{
  font-size: 0.8rem;
}
