*
{
  padding: 0;
  margin: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 16px;
}

img
{
  max-width: 100%;
  height: auto;
}

a
{
  color: #007bff;
  text-decoration: none;
}

html, body, #root
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.geolonia-svg-map
{
  width: 100%;
  height: auto;
}

img
{
  max-width: 100%;
}

.iemeshi
{
  font-family: "Nico Moji";
}
